.header {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: 1024px;
}
.header-home {
  background-image: url('../images/home-background-img.jpg');
}
// .header-library {
//   background-image: url('../images/library-background-img.jpg');
// }
.logo__link {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.logo-text {
  color: var(--white-color);
  display: inline-block;
  margin: 0;
}
.logo-img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 41px;
}
.navigation__list {
  display: flex;
}
.navigation__item:first-child {
  margin-right: 39px;
}
.navigation__link {
  color: var(--white-color);
  font-size: 12px;
}
.search-form {
  padding-top: 37px;
  padding-bottom: 97px;
}
