/* Шаблон карточки*/
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.photo-card {
  width: 274px;
  
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    width: 293px;
    
  }

  @media screen and (max-width: 320px) {
    width: 280px;
  }
}

.image-thumb {
  width: 274px;

  @media screen and (max-width: 768px) {
    width: 293px;
  }

  @media screen and (max-width: 320px) {
    width: 280px;
  }
}

.image-card {
  width: 274px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.info {
  height: 40px;
  padding-top: 10px;
}
.name-film {
  text-transform: uppercase;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  font-family: Roboto;
  color: var(--black-color);
}

.genres-year-film {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: var(--second-color);
}

.rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding: 1px 6px;
  margin-left: 10px;
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--second-color);
}

.gallery {
  padding: 60px 70px 50px;
}

// .photo-card {
//   position: relative;
//   height: 100%;
// }

// .photo-card > img {
//   height: 78%;
//   width: 100%;
//   object-fit: cover;
//   cursor: pointer;
// }
// .image-thumb {
//   margin: 20px auto;
//   display: grid;
//   width: 90%;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-auto-rows: 300px;
//   grid-gap: 30px;
//   padding: 0;
// }
// .image-link {
//   cursor: default;
//   text-decoration: none;
//   position: relative;
//   border-radius: 7px;
// }
// .info {
//   padding: 10px;
//   display: flex;
//   justify-content: space-between;
//   margin-top: 10px;
//   display: flex;
// }

// .name-film {
// }
// .genres-year-film {
// }
