.tui-pagination {
  margin-top: 50px;
  text-align: center;
  font-style: normal;
  line-height: 1.33;
  font-size: 12px;
  font-weight: 500;
  color: var(--black-color);
  @media screen and (max-width: 320px) {
    margin-top: 40px;
  }
}
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-pagination .tui-page-btn {
  display: inline-flex;
  justify-content: space-evenly;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px 10px 20px;
  margin-left: 0;
  border-radius: 5px;
  vertical-align: middle;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--white-color);
  background: var(--second-color);
  border-color: var(--second-color);
  cursor: default;
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--second-color);
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid var(--second-color);
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid var(--second-color);
}

.tui-pagination .tui-ico-first {
  width: 16px;
  height: 16px;
  background: url('../images/arrow-left.svg');
}

.tui-pagination .tui-ico-prev {
  width: 16px;
  height: 16px;
  background: url('../images/arrow-left.svg');
}

.tui-pagination .tui-ico-next {
  width: 16px;
  height: 16px;
  background: url('../images/arrow-right.svg');
}

.tui-pagination .tui-ico-last {
  width: 16px;
  height: 16px;
  background: url('../images/arrow-right.svg');
}

.tui-pagination .tui-ico-ellip {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
}

.tui-pagination .tui-is-disabled:hover {
  background: var(--white-color);
  cursor: default;
}

.tui-pagination .tui-is-disabled .tui-ico-last,
.tui-pagination .tui-is-disabled .tui-ico-next,
.tui-pagination .tui-is-disabled .tui-ico-first,
.tui-pagination .tui-is-disabled .tui-ico-prev {
  display: none;
}

.tui-page-inputs {
  display: inline-flex;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-flex;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  text-align: center;
  outline: none;
}

.tui-page-inputs .tui-page-current {
  color: var(--second-color);
}

.tui-page-separator {
  display: inline-flex;
  padding: 8px 0 6px;
  vertical-align: top;
}
