:root {
  --white-color: #ffffff;
  //   Используется для текста
  --second-color: #ff6b08;
  //   Один оранжевый на весь макет
  --black-color: #000000;
  //   Используется для всех заголовков, текста
  --logo-color: #818181;
  //   Используется для логотипа
  --set-gap: 20px;
  //   Для сетки фильмов на десктопе
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --backdrop: rgba(0, 0, 0, 0.25);
}
