           <div class="photo-card">
                <div class="image-thumb">
                  <a class="image-link" href="#">
               <img src="./images/Rectangle5.jpg" alt="#" loading="lazy" />
               </a>
               </div>
               <div class="info">
                 <p class="name-film">Название фильма</p>
                 <p class="genres-year-film">Жанр1, жанр2, жанр3 | 2021</p>
               </div>
             </div>
        </div>