<div class="footer">
  <div class="container container-footer">
    <div class="lisense-footer">
      <p class="lisense">© 2021 | All Rights Reserved |</p>
      <p class="lisense-continuation">
        Developed with
        <span class="heart">
          <svg class="heart-icon">
            <use class="heart-use" href="./images/sprite.svg#icon-like"></use>
          </svg>
        </span>
        by
        <span data-modal-open class="students"> GoIT Students </span>
      </p>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" id="backdrop-spiner"><div class="lds-spinner hidden" id="spiner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
