<header class="header-home header">
  <div class="container">
    <div class="navigation">
    <a href="./index.html" class="logo__link"> 
      <img class="logo__img" src="./images/logo.png" alt="logo">
      <!-- <svg class="logo__icon" width="24px" height="24px">
      <use href="./images/film.svg"></use> -->
    </svg><p class="logo-text">Filmoteka</p>
    </a>
    <ul class="navigation__list">
      <li class="navigation__item list">
        <button type="button" class="navigation__link"> HOME </button>
      </li>
      <li class="navigation__item list">
        <button type="button" class="navigation__link"> MY LIBRARY </button>
      </li>
    </ul>
    </div>
    <form class="search-form" id="search-form">
      <input type="text" class="search-input" name="searchQuery" autocomplete="off" placeholder="Поиск фильмов" />
      <button type="button" class="search-button"><img class="search-img" src="../src/images/search.svg" alt=""></button>

    </form>
  </div>

</header>