<header>
  <div class="container">
    <a href="#" class="logo"> LOGO
    </a>
    <ul class="navigation">
      <li>
        <a href="#" class="logo"> HOME
        </a>
      </li>
      <li>
        <a href="#" class="logo"> MY LIBRARY
        </a>
      </li>
    </ul>
    <form class="search-form" id="search-form">
      <input type="text" class="search-input" name="searchQuery" autocomplete="off" placeholder="Search films..." />
      <button type="submit" class="search-button">Search</button>

    </form>
  </div>

</header>