<main id="main">
  <div class="toolbar">
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="./images/sprite.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/sprite.svg#moon"></use>
      </svg>
    </div>
  </div>
  <div class="container">
    <div class="gallery"></div>

    <div id="tui-pagination-container" class="tui-pagination"></div>

  </div>
    <svg class="scrollUp">
      <use class="scrollUp-icon" href="./images/sprite.svg#icon-arrow"></use>
    </svg>
</main>
