<div class="modal-backdrop is-hidden">
  <div class="modal-pop-up">
    <button type="button" class="modal-closeButton">
      <svg class="close-btn-icon" width="30px" height="30px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal-container">
      <div class="modal-button-list">
        <button id="alreadyWatched" class="modal-button">add to Watched</button>
        <button id="queueWatched" class="modal-button">add to queue</button>
      </div>
    </div>
  </div>
</div>
