<div class="backdropp is-hidden">
    <div class="team-modal">
        <button type="button" class="team-modal-close-button"></button>
        <h2 class="team-title">Team Spirit</h2>
        <ul class="team-card-list">
            <li class="team-card-list-item">
                <img src="../src/images/diana.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana Aleksieieva</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/DianaAleksieieva">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/serhiiKnysh.jpg" alt="#" class="team-card-list-img"/>
                <h2 class="team-name">Serhii Knysh</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/SerhiiKnysh">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            
            <li class="team-card-list-item">
                <img src="../src/images/vadim-marko.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Vadym Marko</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/KnackeredMe">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/vlad-duka.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Vlad Duka</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/johnny21-9">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/valera-golovatenko.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Valerii Golovatenko</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/ValeronGol">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/sesh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Alexandr Pryadchenko</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/eternalvision">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/yurii.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Yurii</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/yuragms">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/oleksandr-yepishev.jpg" alt="#" class="team-card-list-img"/>
                <h2 class="team-name">Oleksandr Yepishev</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a target="_blanck" href="https://github.com/OleksandrYepishev">
                        <svg class="mail">
                            <use href="./images/sprite.svg#icon-github" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
            