<div class="modal-backdrop">
  <div class="modal-container">
    <button type="button" class="modal-closeButton">X</button>
    <div class="modal-image-thumb">
      <img
        src="https://cdn.pastemagazine.com/www/system/images/photo_albums/best-movie-posters-2016/large/moonlight-ver2-xlg.jpg?1384968217"
        alt=""
        width="240px"
        class="modal-image"
      />
    </div>
    <span class="modal-title">A fistful of lead</span>

    <div class="modal-parameters">
      <ul class="modal-parameters-list">
        <li class="modal-parameter">
          <span class="modal-parameter-title">Vote / Votes</span>
          <span class="modal-parameter-value"><span>7.3</span> / <span>1260</span></span>
        </li>
        <li class="modal-parameter">
          <span class="modal-parameter-title">Popularity</span>
          <span class="modal-parameter-value">100.2</span>
        </li>
        <li class="modal-parameter">
          <span class="modal-parameter-title">Original Title</span>
          <span class="modal-parameter-value">A FISTFUL OF LEAD</span>
        </li>
        <li class="modal-parameter">
          <span class="modal-parameter-title">Genre</span>
          <span class="modal-parameter-value">Western </span>
        </li>
      </ul>
    </div>

    <div class="modal-desctiption">
      <span class="modal-desctiption-title">About</span>
      <p class="modal-desctiption-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
    </div>

    <div class="modal-button-list">
      <button class="modal-button">add to Watched</button>
      <button class="modal-button">add to queue</button>
    </div>
  </div>
</div>
