<div class="backdrop is-hidden">
    <div class="team-modal">
        <button type="button" class="team-modal-close-button"></button>
        <h2 class="team-title">Team Spirit</h2>
        <ul class="team-card-list">
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img"/>
                <h2 class="team-name">Serhii Knysh</h2>
                <p class="team-description">Developer</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="../src/images/symbol-defs.svg#icon-film" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="35px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img" />
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
            <li class="team-card-list-item">
                <img src="../src/images/Serhii-Knysh.jpg" alt="#" class="team-card-list-img"/>
                <h2 class="team-name">Diana</h2>
                <p class="team-description">Team Lead</p>
                <span class="team-contact">
                    <a href="#">
                        <svg class="mail">
                            <use href="./images/symbol-defs.svg#icon-film" width="20px"></use>
                        </svg>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
            